figure img{
    width: 150px;
}
figure{
    margin: 40px auto;
    padding: 50px;
    text-align: center;
    border: 5 solid black;
    box-shadow:  1px 1px 5px black;
    border-radius: 5px;
    width: max-content;
}
figcaption{
    margin-top: 10px;
}
button{
    background-color: rgb(0, 0, 255);
    color: white;
}
h2{
    color: red;
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}